p {
    color: red;
    font-size: 24px;
}

img {
    border: 20px dashed green;
}

#spanid {
    text-decoration: underline;
}

.mijntable {
    background-color: chocolate;
}

#lastp:hover {
    color: blue;
    text-decoration: underline;
}